#monitor


var {
    linked (
        float lat range -90 to 90,
        float lon range -180 to 180) 1000
        
    float bhead 100 range 0 to 360
    float gpshead 100 range 0 to 360
    
    float knots 100 range 0 to 10
    
    float wind 100 range 0 to 360 
    float windSpd 100 range 0 to 30
}

window fullscreen {
    frame 0,0,1,2 {
        gauge 0,0 size 60 { var knots }
        gauge 1,0 size 60 { title "course error" expr "gpshead-bhead" range -180 to 180}
        gauge 0,1 size 60 { var windSpd title "wind speed"}
        compass 1,1 size 60 { title "wind dir" var wind}
        compass 0,2 size 60 { title "heading" var bhead}
        compass 1,2 size 60 { title "GPS head" var gpshead}
    }
    
    frame 1,0,1,2 {
        map 0,0 {
            centre 53.26831,-9.04606 height 2
            out wplat,wplon immediate
            point {
                centre
                location var lat,var lon
                on var lat
                
                trail 40
                
                hue var knots
            }
            vector {
                location var lat, var lon
                on var lat
                
                trail 40
                
                width 2
                
                degrees var gpshead
                
                colour black
                length 30
            }
            image {
                "galway.png"
                alpha 0.5
                pos 53.312500,-9.0625 image 13,13
                pos 53.2500,-9.0000 image 377,622
            }   
            waypoint {}
        }
    }
    
    frame 0,2,2,1 {
        graph 0,0 {
            time 100
            var knots { col green }
            expr "gpshead-bhead" range -180 to 180 { col red }
        }
    }
}
